xcode {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* this creates a variable in css */
:root {
  --slide-image-width: 70vw;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  /* color: #444; */
  color: white;
  text-align: center;
  line-height: 1.5;
  background-color: black;
  margin: 0;
  padding: 0; 
}

nav,
footer {
  padding: 15px 0;
  /* background-color: #aaa; */
  background-color: rgb(150, 73, 109);
  color: white;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: inline-block;
}


nav a,
nav a:hover,
nav a:visited {
  color: white;
  text-decoration: none;
}

.nav-link {
  margin-right: 40px;
  margin-left: 40px;
}

#slideshow {
  overflow: hidden;
  height: 70vw;
  width: var(--slide-image-width);
  margin: 0 auto;
  
}

.slide-wrapper {
  width: calc(var(--slide-image-width) * 4);
  animation: slide 18s ease infinite;
} 

.slide {
  float: left;
  height: 70vw;
  width: var(--slide-image-width);
}

img {
  height: 70vw;
  width: var(--slide-image-width);
  object-fit: contain;
}

@keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: calc(var(--slide-image-width) * -1);}
  50% {margin-left: calc(var(--slide-image-width) * -1);}
  60% {margin-left: calc(var(--slide-image-width) * -2);}
  70% {margin-left: calc(var(--slide-image-width) * -2);}
  80% {margin-left: calc(var(--slide-image-width) * -3);}
  90% {margin-left: calc(var(--slide-image-width) * -3);}
}

ul li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: white;
  padding: 20px;
  border-radius: 40px;
  color: black;
}
li {
  display: inline-block;
}

header {
  padding: 30px 0;
}

h1 {
  font-size: 80px;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

h3 {
  margin-top: 60px;
}

.submission-form {
  width: 400px;
  padding: 40px;
  border-radius: 3px;
  background: white;
  margin: 0 auto;
  color: black;
  margin-bottom: 40px;
}

.try-us {
  border: 1px solid white;
  background-color: white;
  color: black;
  width: 150px;
  font-size: 20px;
}

.try-us:hover {
  transform: scale(1.5);
} 

input[type="text"], button[type="submit"] {
  display: block;
  width: 320px;
  /* height: auto; */
  height: 10px;
  font-size: 18px;
  text-align: left;
  padding: 15px;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
  background: #fcfcfc;
  margin: 10px auto 20px;
}

button[type="submit"] {
  height: auto;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: black;
  border: 0;
  margin-bottom: 0;
  width: 320px;
  background-color: rgb(223, 153, 185);
}


.EventCard {
  width: 320px;
  padding: 30px;
  border-radius: 30px;
  background: white;
  margin: 0 auto;
  color: black;
  margin-bottom: 40px;
}

.EventCard > * {
  margin: 0;
  padding: 0;
  width: 100%;
}

.EventCard h1 {
  font-size: 15px;
  height: 60px;
  margin-bottom: 15px;
  overflow: scroll;
}

.EventCard p {
  font-size: 14px;
  height: 120px;
  margin-bottom: px;
  overflow: scroll;
}

.EventCard span {
  font-style: italic;
  font-size: 14px;
  height: 120px;
}

.EventsPage div {
   display: flex;
   flex-wrap: wrap;

}

button {
  width: -25px;
  height: 30px;
  background-color: rgb(223, 153, 185);
}

@media only screen and (min-width: 728 px)  {
  nav > ul {
    float: right;
    width: 350px;
  }

  :root {
    --slide-image-width: 728px;
  }

  #slideshow, img, .slide {
      height: 510px;
  }
}